<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Struggling to find friends? Friendlee is designed to help you find your perfect match.</p>
      </div>
      <div class="col-lg-4">
        <p>Whatever your interests, age, or career is, there is bound to be someone on Friendlee that is right for you. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
      </div>
    </div>
  </div>
</section>
