<!-- Cards -->
<section id="cards">
  <br>
    <div class="container portfolio-flex-grid">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class=card>
            <img src="/img/profilePic.png">
            <h3 class="cardHead" id="name">Chris</h3>
            <h3 class="cardText cardBio"> Computer Science Major </h3>
            <h3 class="cardText cardTraits"> Bird Watching, Lasagna, Overwatch </h3>
            <h3 class="cardText cardTraits"> Showers, Going Outside, Lettuce</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  
<style>
  img {
    width: 100%;
    height: 55%;
    object-fit: cover;
    padding: 10px;

  }
  .card {
    background-color: #{{ site.color.primary }}; 
    width: 55%; 
    margin: auto;
    padding: 13px;
    height: 650px;
    border-radius:10px;
    text-align: left;
  }

  .cardText {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-weight: normal;
    text-transform:none;
  }
  .cardHead {
    color: #1B4F11;
  }
  
  .cardBio {
    color:#969696;
  }

  .cardTraits {
    color: #000000;
  }
</style>

<script>
  // prepare HTML result container for new output
  const resultContainer = document.getElementById("result");

  // prepare fetch options
  //const url = "https://binarybeasts.nighthawkcoding.ml/api/person/";
  const url = "https://localhost:8085/api/person"
  const options = {
    method: 'GET', // *GET, POST, PUT, DELETE, etc.
    mode: 'cors', // no-cors, *cors, same-origin
    cache: 'default', // *default, no-cache, reload, force-cache, only-if-cached
    credentials: 'omit', // include, *same-origin, omit
    headers: {
      'Content-Type': 'application/json'
      // 'Content-Type': 'application/x-www-form-urlencoded',
    },
  };

  // fetch the API
  fetch(url, options)
    // response is a RESTful "promise" on any successful fetch
    .then(response => {
      // check for response errors
      if (response.status !== 200) {
          const errorMsg = 'Database response error: ' + response.status;
          console.log(errorMsg);
          const tr = document.createElement("tr");
          const td = document.createElement("td");
          td.innerHTML = errorMsg;
          tr.appendChild(td);
          resultContainer.appendChild(tr);
          return;
      }
      // valid response will have json data
      response.json().then(data => {
          console.log(data);
          
          const name = document.getElementById("name").value;
          
          // data is specific to the API
          name.innerHTML = row.name; 

          // add HTML to container
          resultContainer.appendChild(name);
      })
  })
  // catch fetch errors (ie ACCESS to server blocked)
  .catch(err => {
    console.error(err);
    const tr = document.createElement("tr");
    const td = document.createElement("td");
    td.innerHTML = err;
    tr.appendChild(td);
    resultContainer.appendChild(tr);
  });
</script>