<!-- Cards -->
<section id="cards">
  <br>
    <div class="container portfolio-flex-grid">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class=fuck>
            <img src="/img/profilePic.png">
            <h2>Chris</h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  
<style>
  img {
    width: 100%;
    height: 55%;
    object-fit: cover;
    padding: 10px;

  }
  .fuck {
    background-color: #{{ site.color.primary }};
    width: 55%; 
    margin: auto;
    padding: 13px;
    height: 650px;
    border-radius:10px;
    text-align: left;
  }
</style>