<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
</style>
</head>
<body>

<h2>Friend Edits for Chris</h2>

<div class="card">
  <img src="chris.PNG" alt="Avatar" style="width:100%">
  <div class="container">
    <h4><b>Chris, 19</b></h4> 
    <p>Computer Science Major</p> 
  </div>
</div>

<h1>Make notes for Chris!</h1>

<form action="/action_page.php">
  <label for="fname">Pros: </label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Cons: </label>
  <input type="text" id="lname" name="lname"><br><br>
  <input type="submit" value="Save">
  <style>
    table, th, td {
      border:1px solid black;
    }
    </style>

    <h1>Make Notes For Chris!</h1>
    <body>
    
    <table style="width:100%">
      <tr>
        <th>Name</th>
        <th>Pros</th>
        <th>Cons</th>
      </tr>
      <tr>
        <td><input type="text" id="Name" name="Name" </label></td>
        <td><input type="text" id="Name" name="Name"</td>
        <td><input type="text" id="Name" name="Name"</td>
      </tr>
    </table>
    </body>
</body>
</html> 